.timer {
  height: 6px;
  width: 50%;
  background-color: var(--grey);
  border-radius: 3px;
  overflow: hidden;
}

.timer-mask {
  width: 75%;
  height: 100%;
  background-color: var(--purple);
}

.timer-bg {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
